@import "../css/bootstrap.css";

html {
    box-sizing: border-box;
    font-size: 62,5%;
}

*,
*:before,
*:after {
 box-sizing: inherit;
}

.csb-nav-top-link {
    color:#f8f9fa;
}

.csb-nav-top-link:hover,
.csb-nav-top-link:focus {
    color: #adb5bd;
  }

.csb-nav-top-link-reverse {
    color: #069E0D;
}

.csb-nav-top-link-reverse:hover,
.csb-nav-top-link-reverse:focus {
    color: #adb5bd;
  }

.csb-nav-top-bg {
    background-color: #343a40;
}

.csb-overlay {
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.csb-flex {
    display: flex;
    flex-direction: row-reverse;
}

.csb-btn-buy {
    margin-left: 1rem;
}

.csb-text-white {
    color: #f8f9fa;
}

.csb-nav-foot {
    width: 8rem;
    text-align: center;
    justify-content: space-between;
    color:#f8f9fa;
}

.csb-nav-foot:hover,
.csb-nav-foot:focus {
    color: #adb5bd;
  }

.csb-nav-foot-grad {
    background: linear-gradient(to right, rgb(20, 30, 47), rgb(29, 58, 93));
}
/* codigo basura abajo */
